.Board {
  width: 700px;
  height: 700px;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 3px solid #f3f3f3;
  border-radius: 6px;
}
.Board.squazeMode .numberButton {
  visibility: hidden;
}
.Board.squazeMode .smallArea:hover .numberButton {
  visibility: visible;
}
.Board .middleArea {
  margin: 6px;
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  background: #999;
}
.Board .middleArea .smallArea {
  border: 2px solid #ddd;
  width: 30%;
  background: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s;
}
.Board .middleArea .smallArea:nth-child(2),
.Board .middleArea .smallArea:nth-child(3),
.Board .middleArea .smallArea:nth-child(5),
.Board .middleArea .smallArea:nth-child(6),
.Board .middleArea .smallArea:nth-child(8),
.Board .middleArea .smallArea:nth-child(9) {
  margin-left: -2px;
}
.Board .middleArea .smallArea:nth-child(4),
.Board .middleArea .smallArea:nth-child(5),
.Board .middleArea .smallArea:nth-child(6),
.Board .middleArea .smallArea:nth-child(7),
.Board .middleArea .smallArea:nth-child(8),
.Board .middleArea .smallArea:nth-child(9) {
  margin-top: -2px;
}
.Board .middleArea .smallArea.stone {
  background: #ccc;
  color: #333;
}
.Board .middleArea .smallArea.light {
  border-color: #888;
  z-index: 9999;
}
.Board .middleArea .smallArea.warning {
  animation: warning 1.5s infinite alternate ease-out;
  z-index: 9999999;
}
.Board .middleArea .smallArea.active .numberCard {
  visibility: visible;
  opacity: 1;
}
.Board .middleArea .smallArea .numberButton {
  width: 26%;
  flex-grow: 1;
  border: none;
  border-radius: 0;
  margin: 1px;
  font-size: 12px;
  transition: all 0.2s;
  outline: none;
  user-select: none;
  background: #fff;
  color: #333;
}
.Board .middleArea .smallArea .numberButton:hover {
  background: #eee;
  color: #232323;
}
.Board .middleArea .smallArea .numberButton.hide {
  animation: hiddenButton 0.3s forwards;
}
.Board .middleArea .smallArea .numberCard {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  flex-grow: 1;
  border: none;
  border-radius: 0;
  font-size: 42px;
  outline: none;
  position: absolute;
  left: 2px;
  top: 2px;
  user-select: none;
  background: #fff;
  transition: all 0.3s;
  visibility: hidden;
  box-sizing: border-box;
  font-family: "shouShu";
}
.Board .middleArea .smallArea .numberCard:hover {
  background: #eee;
}
@keyframes hiddenButton {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showCard {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}
@keyframes warning {
  from {
    border-color: #ff7474;
  }
  to {
    border-color: #ffcfcf;
  }
}
.Info {
  width: 300px;
  height: 750px;
  margin-left: 15px;
  display: flex;
  border-radius: 6px;
  flex-flow: column;
}
.Info .history {
  width: 100%;
  height: 200px;
  border: 3px solid #f3f3f3;
  background: #fff;
  border-radius: 6px;
  display: flex;
}
.Info .history .historyList {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 5px;
  overflow: auto;
}
.Info .history .historyList::-webkit-scrollbar {
  width: 4px;
}
.Info .history .historyList::-webkit-scrollbar-track {
  width: 4px;
  background: #eee;
}
.Info .history .historyList::-webkit-scrollbar-thumb {
  width: 4px;
  background: #ccc;
}
.Info .history .historyList .historyLi {
  font-size: 12px;
  color: #888;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  user-select: none;
  font-family: "shouShu";
}
.Info .history .historyList .historyLi:last-child {
  background: #eee;
}
.Info .history .historyList .historyLi:hover {
  color: #ccc;
  background: #666;
}
.Info .history .historyList .historyLi .number {
  color: #333;
}
.Info .other {
  border: 3px solid #f3f3f3;
  background: #fff;
  border-radius: 6px;
  margin: 10px 0px;
}
.Info .other .time {
  font-size: 12px;
  line-height: 30px;
  color: #666;
  margin: 10px;
}
