.Board {
  width: 680px;
  height: 680px;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #eee;
  box-shadow: 5px 5px 0px #eee;
}
.Board.squazeMode .numberButton {
  visibility: hidden;
}
.Board.squazeMode .smallArea:hover .numberButton {
  visibility: visible;
}
.Board .middleArea {
  margin: 6px;
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
}
.Board .middleArea .smallArea {
  border: 2px solid #f6f6f6;
  width: 30%;
  background: #fff;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  margin: 3px;
  transition: all 0.2s;
}
.Board .middleArea .smallArea.stone {
  background: #ccc;
  color: #333;
}
.Board .middleArea .smallArea.light {
  border-color: #ddd;
}
.Board .middleArea .smallArea.active {
  border: none;
}
.Board .middleArea .smallArea.active .numberCard {
  visibility: visible;
  opacity: 1;
}
.Board .middleArea .smallArea .numberButton {
  width: 26%;
  flex-grow: 1;
  border: none;
  border-radius: 0;
  margin: 1px;
  font-size: 12px;
  transition: all 0.2s;
  outline: none;
  border-radius: 3px;
  user-select: none;
  background: #f3f3f3;
}
.Board .middleArea .smallArea .numberButton:hover {
  background: #333;
  color: #eee;
}
.Board .middleArea .smallArea .numberButton.hide {
  animation: hiddenButton 0.3s forwards;
}
.Board .middleArea .smallArea .numberCard {
  width: calc(100%);
  height: calc(100% - 6px);
  flex-grow: 1;
  border: none;
  border-radius: 0;
  font-size: 42px;
  outline: none;
  position: absolute;
  left: 0px;
  top: 0px;
  user-select: none;
  border-radius: 5px;
  vertical-align: top;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  visibility: hidden;
  background: #eee;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0px 6px 0px #ccc;
  font-family: "shouShu";
}
.Board .middleArea .smallArea .numberCard:hover {
  background: #ccc;
  box-shadow: 0px 6px 0px #aaa;
  text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.1);
}
@keyframes hiddenButton {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showCard {
  0% {
    opacity: 0 !important;
  }
  100% {
    opacity: 1 !important;
  }
}
.Info {
  width: 200px;
  height: 730px;
  margin-left: 15px;
  display: flex;
  border-radius: 6px;
  flex-flow: column;
}
.Info .history {
  width: 100%;
  height: 200px;
  border: 2px solid #eee;
  background: #fff;
  border-radius: 6px;
  display: flex;
  border: 8px solid #eee;
  box-shadow: 3px 3px 0px #ccc, 6px 6px 9px #999;
}
.Info .history .historyList {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-flow: column;
  padding: 5px;
  overflow: auto;
}
.Info .history .historyList::-webkit-scrollbar {
  width: 4px;
}
.Info .history .historyList::-webkit-scrollbar-track {
  width: 4px;
  background: #eee;
}
.Info .history .historyList::-webkit-scrollbar-thumb {
  width: 4px;
  background: #ccc;
}
.Info .history .historyList .historyLi {
  font-size: 12px;
  color: #888;
  cursor: pointer;
  transition: all 0.2s;
  padding: 5px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  user-select: none;
  font-family: "shouShu";
}
.Info .history .historyList .historyLi:last-child {
  background: #eee;
}
.Info .history .historyList .historyLi:hover {
  color: #ccc;
  background: #666;
}
.Info .history .historyList .historyLi .number {
  color: #333;
}
.Info .time {
  font-size: 12px;
  line-height: 30px;
  color: #666;
  margin: 10px;
}
