* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "shouShu";
  src: url("../assets/云游手书.ttf");
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.startView {
  width: 100vw;
  height: 100vh;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.startView.isStart {
  animation: hideView 1.6s forwards ease-out;
}
.startView.hide {
  display: none;
}
.startView .logo {
  width: 240px;
  height: 300px;
  opacity: 0;
  user-select: none;
  border: 0px solid transparent;
  background: url('../assets/黑鸦logo.png') no-repeat center center;
  background-size: 100% auto;
  animation: showLogo 2s forwards ease-in-out;
}
.startView .start_game {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  font-family: "shouShu";
  user-select: none;
  opacity: 0;
  animation: showLogo 0.6s 2s forwards ease-in-out, showLoop 2.2s 2.65s infinite;
}
@keyframes showLogo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideLogo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showLoop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideView {
  0% {
    opacity: 1;
    display: flex;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
